<div class="row">
  <div class="col-md-4 offset-md-3">
    <h1 class="mb-4">Login</h1>
    <%= form_for @user, url: "/sessions", method: "post" do |f| %>
      <div class="mb-2">
        <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
      </div>
      <div class="mb-3">
        <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
      </div>
      <%= f.submit "Log In", class: "btn btn-info float-right" %>
    <% end %>
  </div>
</div>
