<div class="row py-4">
  <div class="col-10 offset-1">
    <h1 class="mb-4"><%= @library.name %></h1>
    <p><strong>Floor Count:</strong> <%= @library.floor_count %></p>
    <p><strong>Floor Area:</strong> <%= @library.floor_area %></p>
  </div>
</div>
